
@import '~foundation-sites/scss/foundation';
@import '~foundation-sites/scss/util/util';
//@include foundation-everything(true);

@import '~src/scss/settings';

$black: #000000;
$white: #ffffff;

$lcars-orange: #FF9900;
$lcars-purple: #CC99CC;
$lcars-blue: #9999CC;
$lcars-red: #CC6666;
$lcars-cream: #FFCC99;
$lcars-indigo: #9999FF;
$lcars-soft-orange: #FF9966;
$lcars-salmon: #CC6699;

$text: 'Saira Extra Condensed', sans-serif;

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: $black;
  color: $lcars-orange;
  font-family: $text;
  font-weight: 600;
  display: flex;
  flex-flow: column;
}

// .wrapper {
//     width: 80%;
//     margin: 0 auto;
// }

h1 {
  text-transform: uppercase;
  text-align: right;
  font-size: 4em;
  margin: 0;
  padding: 0;
}

table td {
  padding: .2em .5em;
  line-height: 1;
  text-align: right;
}

table tr{
  background-color: black;
  border: black;
}

button {
  outline: none;
  border: none;
  border-radius: 1em;
  font-size: 1em;
  line-height: 1;
  padding: .5em 3em .5em 1em;
  font-family: $text;
  position: relative;
  color: $black;
  background: $lcars-orange;
  cursor: pointer;
  &:after {
    display: block;
    position: absolute;
    content: attr(data-button-number);
    top: 0;
    font-size: 1.5em;
    right: .6em;
    background: $black;
    color: $white;
    width: 1em;
    text-align: center;
    line-height: 1;
    padding-top: .15em;
    height: 1.5em;
  }
}

.buttons {
  padding: 1em 0;
  button {
    margin: 0 .5em .5em 0;
    animation: button-pulse linear infinite 4s;
    &:nth-of-type(2){
      animation-duration: 7s;
      animation-delay: 3s;
    }
    &:nth-of-type(3){ animation-duration: 2.3s;}
    &:nth-of-type(4){ animation-duration: 5s;}
  }
}
@keyframes button-pulse {
  0%{ background: $lcars-orange; }
  25%{ background: $lcars-orange; }
  25.1%{ background: $lcars-purple; }
  50%{ background: $lcars-purple; }
  50.1%{ background: $lcars-salmon; }
  75%{ background: $lcars-salmon; }
  75.1%{ background: $lcars-cream; }
  100%{ background: $lcars-cream; }
}

.down-wrapper {
  background: linear-gradient(
      $lcars-orange 0%,
      $lcars-orange 40%,
      $black 40%,
      $black 42%,
      $lcars-purple 42%,
      $lcars-purple 100%
  );
  box-shadow:
    inset $lcars-orange -10em 0em 0 0,
    inset $black -10.3em 0em 0 0,
    inset $lcars-salmon -20em 0em 0 0,
    inset $black -20.3em 0em 0 0;
  padding-left: 10rem;
  padding-bottom: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
  border-bottom-left-radius: 5em;
  position: relative;
  &:before {
    content: attr(data-wrapper-1);
    position: absolute;
    color: $black;
    text-transform: uppercase;
    bottom: 60%;
    right: calc(100% - 9.8rem);
    font-size: 1.5em;
  }
  &:after {
    content: attr(data-wrapper-2);
    position: absolute;
    color: $black;
    text-transform: uppercase;
    top: 43%;
    right: calc(100% - 9.8rem);
    font-size: 1.5em;
  }
}
.down-wrapper-inner {
  background: $black;
  padding-left: 2em;
  border-bottom-left-radius: 2em;
}

.up-wrapper {
  display: flex;
  flex-flow: column;
  background: $lcars-orange;
  height: 100%;
  // background-image: linear-gradient(
  //     $orange 0,
  //     $orange 4em,
  //     $black 4em,
  //     $black 42%,
  //     $lilac 42%,
  //     $lilac 100%
  // );
  box-shadow:
    inset $lcars-orange -5em 10em 0 0,
    inset $black -5em 10.3em 0 0,
    inset $lcars-salmon -5em 20em 0 0,
    inset $black -5em 20.3em 0 0;
  padding-left: 10rem;
  padding-top: 1em;
  margin-left: 2em;
  border-top-left-radius: 5em;
  position: relative;
  &:before {
    content: attr(data-wrapper-1);
    position: absolute;
    color: $black;
    text-transform: uppercase;
    top: 5.5em;
    right: calc(100% - 9.8rem);
    font-size: 1.5em;
  }
  &:after {
    content: attr(data-wrapper-2);
    position: absolute;
    color: $black;
    text-transform: uppercase;
    top: 14em;
    right: calc(100% - 9.8rem);
    font-size: 1.5em;
  }
}
.up-wrapper-inner {
  height: 100%;
  display: flex;
  flex-flow: column;
  background: $black;
  padding-left: 2em;
  border-top-left-radius: 2em;
}
